@import "tailwindcss" theme(static);
@import "@nuxt/ui";

:root {
  --ui-radius: var(--radius-xs);
}

/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-500, currentColor);
  }
} */

@theme {
  --font-sans: 'Inter', sans-serif;
}
